<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
    <table>
      <thread>
        <tr>
          <th>#</th>
          <th>이름</th>
        </tr>
      </thread>
      <tbody>
<!--      ${members} 는 model 안에 있는 members 꺼냄(members 에서 하나씩 꺼내 member 로 넣음)-->
<!--      thymeleaf 문법 : 루프를 돌며 아래 로직 수행-->
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
      </tr>
      </tbody>
    </table>

  </div>
</body>
</html>